{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "arrowParens": "always",
  "trailingComma": "es5",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "bracketSameLine": true
}
